<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcfece">  <td>19/08/23 16:02:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentDemo.endTest()[pri:0, instance:APIFrameworkGsonController.ExtentDemo@1794d431]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/08/23 16:02:41</td>   <td>-15347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentDemo.extentReportsDemo()[pri:0, instance:APIFrameworkGsonController.ExtentDemo@1794d431]">extentReportsDemo</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/08/23 16:02:41</td>   <td>-15551</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentDemo.startTest()[pri:0, instance:APIFrameworkGsonController.ExtentDemo@1794d431]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
